/* logo du header */
#logo{
  width:20%;
  height:20%;
}



#destinationTitle{
  text-align: center;
}


/* balise contenant toute la section destination sauf le titre */
#destination{
  display: flex;

}

/* balise contenant les 4 cards */
#travel{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 60%;
}

/* balise contenant les 2 premières cards */
#row1{
  display: flex;
  flex-wrap: wrap;
}

/* balise contenant les 2 dernières cards */
#row2{
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 480px) {
  #map{
    display: none;
  }
}

.card-title{
  text-shadow: 1px 1px 2px black;
}

.row{
  padding:0px;
  margin:0px;
}
