#team{
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: arial narrow;
	margin: 10% 0 10% 0;
}
#teamTitle{
	color: #E8C521;
}
.trait{
	width: 30%;
	height: 1%;
	border-bottom: 2px solid #024F3E;
	margin-bottom: 7%;
}
#teamBlock{
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.teamColumn{
	width: 18%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.portrait-team-photo{
	width: 150px;
	height: 150px;
	border-radius: 50% 50%;
	border: 1px solid #024F3E;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}
.portrait-team-photo img{
	width: 150px;
}
.teamJob{
	color: #238E50;
}
.teamDescription{
	text-align: justify;
}
@media screen and (max-width: 900px) {
	#teamBlock{
		width: 100%;
		flex-wrap: wrap;
	}
  	.teamColumn{
		width: 40%
	}
}
@media screen and (max-width: 600px) {
	#teamBlock{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		flex-wrap: nowrap;
	}
  	.teamColumn{
		width: 80%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}